RewriteEngine On

RewriteBase "/ecommerce/"
RewriteRule ^accueil$ index.php
RewriteRule ^inscription$ inscription.php
RewriteRule ^connexion$ connexion.php
RewriteRule ^deconnexion$ deconnexion.php
RewriteRule ^verifm$ verificationmail.php
RewriteRule ^changement$ changementmdp.php
RewriteRule ^favoris$ favoris.php
RewriteRule ^panier$ panier.php
RewriteRule ^profil$ profil.php
RewriteRule ^crud$ crud.php