body{
    margin : 0px;
    padding : 0px;
}

.container_article {
    width: 80%;
    /* border : 2px solid red; */
    margin-left: auto;
    margin-right: auto;
}

.art {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.article{
    width: 100%;
    min-height: 700px;
    /* border : 2px solid yellow; */
    display: flex;
    flex-direction: row;
}

.photogauche{
    width: 25%;
    /* border : 2px solid green; */
    display: flex;
    flex-direction: column;
}

.photo img{
    width: 75%;
    height: 75%;
    cursor: pointer;
}

.photo2{
    text-align: center;
    position: absolute;
    opacity: 0;
    /* border : 2px solid black; */
    width: 100%;
}

.photo2 img{
    width: 50%;
    height: 50%;
}

.photo2.active{
    opacity: 1;
}

.photo{
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    /* border : 2px solid red; */
}

.photoarticle{
    width: 100%;
    /* border : 2px solid blue; */
    position: relative;
}

.detailarticle{
    width: 80%;
    /* border : 2px solid black; */
}

.favorisb {
    width: 60%;
    margin-left: 61px;
}

.detail1{
    width: 70%;
    margin-top : 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* .detail1{
    margin-top : 10px;
    display: flex;
   
} */

.affichermess{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom : 50px;
    text-align: center;
}
.detail1 i{
    color : #df8270;
}

.commentairestexte{
    width: 60%;
    height: 80px;
    padding: 10px;
}

.boutonajoutcommentaire
{
    background-color: #df8270;
    border: none;
    width: 300px;
    height: 35px;
    border-radius: 5px;
    margin-top: 15px;
    color : white;
    font-size: 16px;
    cursor: pointer;
}

.inforetour{
    margin-top: 25px;
    line-height: 35px;
    width: 71%;
    margin-right: auto;
    margin-left: auto;
}

.inforetour i {
    color : #df8270;
}


.titre{
    color : #111416;
    font-weight: 1000;
    margin-left: auto;
    margin-right: auto;
    padding : 10px 0px 10px 5px;
}

.titre2{
    padding : 5px;
}

.titre3{
    padding : 5px;
}

.titre4{
    padding : 5px;
}

.detail2{
    width: 70%;
    margin-top : 15px;
}

.notearticle
{

    margin-top : 20px;
}

.voterarticle{

    margin-top : 20px;
        margin-bottom : 15px;
}

.voterarticle i{
    color : #df8270;
}

.placementbout{
    display: flex;
    justify-content: center;
    margin-top : 20px;
}

.boutonajoutpanier
{
    background-color: #df8270;
    border: none;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    margin-top: 15px;
    color : white;
    font-size: 20px;
    cursor: pointer;
}

.commentairesarticle{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top : 25px;
    font-size: 18px;
}

.commentairesarticle i {
    color:red;
}

.hr-perso{
    width: 70%;
    border: 1px #df8270 solid;
    margin-top : 15px;
    margin-bottom : 15px;
    margin-left : 5px;
    }

button{
    border : none;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    font-size: 25px;
}


/**********************************RESPONSIVE********************************************/
@media screen and (max-width: 1051px){
    .article{
        flex-direction: column;
        width: 100%;
        min-height: 700px;
        display: flex;
        
    }
    .photogauche{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .photo {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    .photo img {
        width: 100px;
        height: 125px;
      }
      .photoarticle {
        width: 100%;
        position: relative;
        margin-top: 50px;
      }
      .active {
        position: absolute;
        display: flex !important;
        z-index: 10;
        top: 100%;
        left: 0;
        background-color: rgba(255, 255, 255, 0.9);
        backdrop-filter: blur(4px);
        width: 100%;
        height: 300px;
        margin: 0;
        padding: 0;
        justify-content: center;
      }
      .photo2 img {
        width: 250px;
        height: 250px;
      }
      .photo2 {
        text-align: center;
        position: absolute;
        opacity: 0;
        width: 100%;
      }
      .detailarticle {
        width: 100%;
        margin-top: 290px;
      }
}

/* @media screen and (max-width: 1200px) {
    .photogauche {
        width: 25%;
        display: flex;
        flex-direction: row;
    }
} */

/* @media screen and (max-width: 1000px) {
    .inscription, .connexion {
        width: 50%;
    }
}

@media screen and (max-width: 750px) {
    .inscription, .connexion {
        width: 60%;
    }
}

@media screen and (max-width: 550px) {
    .inscription, .connexion {
        width: 70%;
    }
}

@media screen and (max-width: 450px) {
    .inscription, .connexion {
        width: 90%;
    }
}

@media screen and (max-width: 370px) {
    .inscription, .connexion {
        width: 95%;
    }
} */