@font-face {
    font-family: 'Oswald';
    src: url(../font/Oswald-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.separator {
    width: 1px;
    height: 100px;
    background-color: lightslategrey;
    border-radius: 50%;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    position: sticky;
    top: 0;
    z-index: 10;
    margin-bottom: 100px
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: 'Oswald';
    list-style-type: none;
    background-color: white;
}

.fb {
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: 500ms ease;
    margin: 0 10px;
    font-size: 150%;
    color: blue;
}

.tw {
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: 500ms ease;
    margin: 0 10px;
    font-size: 150%;
    color: deepskyblue;
}

.insta {
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: 0 10px;
    font-size: 150%;
    background:-webkit-linear-gradient(top left, blue, purple, red, orange, yellow);
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
}

.res {
    display: block;
    text-decoration: none;
}

.blank {
    width: 15%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.logo a  {
    width: 10%;
}

.user {
    width: 15%;
}

.users {
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: 500ms ease;
    margin: 0 10px;
}

.log {
    width: 100%;
    border-radius: 50%;
}

.respon {
    display: flex;
    flex-direction: row;
    width: 90%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: 'Oswald';
    list-style-type: none;
    background-color: white;
    font-size: 110%;
    position: sticky;
    top: 0;
    z-index: 100;
}


.menu {
    width: 70%;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.categorie {
    display: block;
    text-align: center;
    align-items: center;
    text-decoration: none;
    padding: 15px 15px;
    cursor: pointer;
    border-bottom: 3px white solid;
    transition: 500ms ease;
    font-size: 110%;
}

.sous-cat {
    font-size: 90%;
    overflow: hidden;
}

.sous-sous-cat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 80%;
    padding: 0;
    margin: 0;
}

.sous-sous-cat_redirect {
    padding: 0;
}

.dd-mnu{
    background-color: #ffffff;
    display: none;
    position: fixed;
    top: 6.1rem;
    left: 0;
    right: 0;
    z-index: 1;
  }
  .dd-mnu ul{
    position: relative;
  }
  .dropdown-menu{
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  .dropdown-menu li{
    display: block;
    text-align: center;
    align-items: center;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 15px;
    cursor: pointer;
  }


.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    height: 20px;
    width: 70%;
}

.search-button {
    margin: 0 20px 0 5px;
}

.account {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.fav {
    border-radius: 50%;
    padding: 3px 7px;
    margin: 0 5px;
    transition: 500ms ease;
}

.shop {
    border-radius: 50%;
    padding: 3px 7px;
    margin: 0 5px;
    transition: 500ms ease;
}

.acc {
    border-radius: 50%;
    padding: 3px 7px;
    margin: 0 5px;
    transition: 500ms ease;
}

.burger {
    display: none;
}

.users:hover {
    text-decoration: underline;
}
.categorie:hover {
    border-bottom: 3px black solid;
    background-color: rgb(240, 240, 240);
}
.hov:hover {
    text-decoration: underline;
}

@media screen and (min-width: 1024px) {
    
    .fav:hover {
        background-color: lightgray;
    }
    .shop:hover {
        background-color: lightgray;
    }
    .acc:hover {
        background-color: lightgray;
    }
}

@media screen and (max-width: 1025px) {
    .fb {
        font-size: 100%;
    }
    .tw {
        font-size: 100%;
    }
    .insta {
        font-size: 100%;
    }
    .user {
        width: 40%;
        font-size: 70%;
    }
    .burger {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        grid-column-start: 3;
        margin-right: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
        cursor: pointer;
        font-size: 150%;
    }
    nav {
        font-size: 70%;
    }
    .active {
        position: absolute;
        display: flex !important;
        z-index: 10;
        top: 100%;
        left: 0;
        background-color: rgba(255, 255, 255, 0.9);
        backdrop-filter: blur(4px);
        width: 100%;
        height: 300px;
        margin: 0;
        padding: 0;
    }
    .respon{
        display: none;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .menu {
        width: 100%;
    }
    .account {
        width: 100%;
        margin-bottom: 20px;
    }
    .dd-mnu {
        top: 4rem;
    }
    .logo {
        width: 40%;
    }
    .logo a {
        width: 20%;
    }
}

/* Inscription */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 150px;
    font-family: 'Oswald';
}

.inscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px rgb(210, 210, 210);
    border-radius: 5px;
    width: 40%;
}

h3 {
    font-size: 250%;
    margin: 15px 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.nom_prenom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 5px 0;
}

.nom, .prenom {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.nom label, .nom input, .prenom label, .prenom input {
    font-size: 130%;
    width: 100%;
}

.nom input, .prenom input, .mail input, .mdp input {
    border: 1px black solid;
    border-radius: 5px;
}

.mail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5px 0;
}

.mdp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5px 0;
}

.mail label, .mail input, .mdp label, .mdp input {
    font-size: 130%;
    width: 90%;
}

.aide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 15px;
    width: 90%;
}

.checkbox {
    margin-right: 5px;
    cursor: pointer;
}

.mdp_oublie {
    text-decoration: underline;
    color: black;
    margin: 0 5px;
}

.sub {
    margin: 10px 15px;
    padding: 0 15px;
    font-size: 120%;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    border-radius: 2px;
    font-family: 'Oswald';
}

.co_ins {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 15px;
}

@media screen and (max-width: 1200px) {
    .connexion {
        width: 40%;
    }
}

@media screen and (max-width: 1000px) {
    .connexion {
        width: 50%;
    }
}

@media screen and (max-width: 750px) {
    .connexion {
        width: 60%;
    }
}

@media screen and (max-width: 550px) {
    .connexion {
        width: 70%;
    }
}

@media screen and (max-width: 450px) {
    .connexion {
        width: 90%;
    }
}

@media screen and (max-width: 370px) {
    .connexion {
        width: 95%;
    }
}