* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}

.menu {
    width: 50%;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.account {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
}